example/dashboard01.json
[{"id":"af2ee033.db3ba","type":"inject","z":"4bb55162.dd8f7","name":"Dataset","topic":"","payload":"{\"channel\":\"TP01\",\"color\":\"Red\",\"dataset\":[{\"x\":1,\"y\":10},{\"x\":2,\"y\":8},{\"x\":3,\"y\":15},{\"x\":4,\"y\":10},{\"x\":5,\"y\":-2}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":141,"wires":[["b1404476.e2f4a8"]]},{"id":"32839842.a38f18","type":"debug","z":"4bb55162.dd8f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":141,"wires":[]},{"id":"b1404476.e2f4a8","type":"chartjs","z":"4bb55162.dd8f7","name":"TP01 Chart","path":"TP01","charttitle":"TP01 Temperature Chart","xaxis":"Item","yaxis":"Temperature [Cº]","x":377,"y":141,"wires":[["32839842.a38f18"]]},{"id":"ac4d6e24.67339","type":"inject","z":"4bb55162.dd8f7","name":"Dataset","topic":"","payload":"{\"channel\":\"HR01\",\"color\":\"Blue\",\"dataset\":[{\"x\":1,\"y\":5},{\"x\":2,\"y\":0},{\"x\":3,\"y\":-2},{\"x\":4,\"y\":8},{\"x\":5,\"y\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["949ed978.5a2238"]]},{"id":"b6ef9622.ff3d08","type":"debug","z":"4bb55162.dd8f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":260,"wires":[]},{"id":"949ed978.5a2238","type":"chartjs","z":"4bb55162.dd8f7","name":"HR01 Chart","path":"HR01","charttitle":"HR01 Humidity Chart","xaxis":"Item","yaxis":"Humidity [%]","x":370,"y":260,"wires":[["b6ef9622.ff3d08"]]}]