example/dashboard.json
[{"id":"af2ee033.db3ba","type":"inject","z":"4bb55162.dd8f7","name":"Dataset","topic":"","payload":"{\"channel\":\"TP01\",\"color\":\"Red\",\"dataset\":[{\"x\":1,\"y\":10},{\"x\":2,\"y\":8},{\"x\":3,\"y\":15},{\"x\":4,\"y\":10},{\"x\":5,\"y\":-2}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":83,"wires":[["7731c057.0fb3f"]]},{"id":"32839842.a38f18","type":"debug","z":"4bb55162.dd8f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":83,"wires":[]},{"id":"ac4d6e24.67339","type":"inject","z":"4bb55162.dd8f7","name":"Dataset","topic":"","payload":"{\"channel\":\"HR01\",\"color\":\"Blue\",\"dataset\":[{\"x\":1,\"y\":5},{\"x\":2,\"y\":0},{\"x\":3,\"y\":-2},{\"x\":4,\"y\":8},{\"x\":5,\"y\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":199,"wires":[["4d684b4b.e3d054"]]},{"id":"b6ef9622.ff3d08","type":"debug","z":"4bb55162.dd8f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":199,"wires":[]},{"id":"7731c057.0fb3f","type":"chartjs-line","z":"4bb55162.dd8f7","name":"TP01 Chart","path":"TP01","charttitle":"TP01 Chart","xaxis":"Item","yaxis":"Temperature [℃]","x":320,"y":83,"wires":[["32839842.a38f18"]]},{"id":"4d684b4b.e3d054","type":"chartjs-line","z":"4bb55162.dd8f7","name":"HR01 Chart","path":"HR01","charttitle":"HR01 Chart","xaxis":"Item","yaxis":"Humidity [%]","x":330,"y":199,"wires":[["b6ef9622.ff3d08"]]},{"id":"57b829cb.8bdcc8","type":"chartjs-bar","z":"4bb55162.dd8f7","name":"Population Chart","path":"POB","charttype":"bar","charttitle":"Population Chart","xaxis":"Item","yaxis":"Count[T]","x":350,"y":300,"wires":[["63c49dcf.9b3624"]]},{"id":"acf9a1bc.5c702","type":"inject","z":"4bb55162.dd8f7","name":"Dataset","topic":"","payload":"{\"channel\":\"POB\",\"color\":\"Blue\",\"dataset\":[{\"x\":1,\"y\":5},{\"x\":2,\"y\":0},{\"x\":3,\"y\":-2},{\"x\":4,\"y\":8},{\"x\":5,\"y\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["57b829cb.8bdcc8"]]},{"id":"63c49dcf.9b3624","type":"debug","z":"4bb55162.dd8f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":300,"wires":[]},{"id":"6958bc5f.8c5b64","type":"chartjs-radar","z":"4bb55162.dd8f7","name":"Radar Chart","path":"RAD","charttitle":"Radar Chart","xaxis":"Item","yaxis":"Value","x":330,"y":400,"wires":[["2d28eef8.eae122"]]},{"id":"387c7f31.575c7","type":"inject","z":"4bb55162.dd8f7","name":"Dataset","topic":"","payload":"{\"channel\":\"RAD\",\"color\":\"Blue\",\"dataset\":[{\"x\":1,\"y\":5},{\"x\":2,\"y\":0},{\"x\":3,\"y\":-2},{\"x\":4,\"y\":8},{\"x\":5,\"y\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":400,"wires":[["6958bc5f.8c5b64"]]},{"id":"2d28eef8.eae122","type":"debug","z":"4bb55162.dd8f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":400,"wires":[]}]