example/dashboard02.json
[{"id":"91d36847.65e118","type":"inject","z":"3e367774.ac6848","name":"Dataset","topic":"","payload":"{\"channel\":\"PR01\",\"color\":\"Green\",\"dataset\":[{\"x\":1,\"y\":9},{\"x\":2,\"y\":-10},{\"x\":3,\"y\":12},{\"x\":4,\"y\":2},{\"x\":5,\"y\":0}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":101,"wires":[["37a48881.e2a498"]]},{"id":"7d5cf0d5.5fd93","type":"debug","z":"3e367774.ac6848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":101,"wires":[]},{"id":"37a48881.e2a498","type":"chartjs-line","z":"3e367774.ac6848","name":"PT01 Chart","path":"PT01","charttitle":"PT01 Chart","xaxis":"Item","yaxis":"Preasure [Pa]","x":335,"y":101,"wires":[["7d5cf0d5.5fd93"]]}]